# Ignore virtual environments and env configs
venv/
.venv/
env/
*.env
.env

# Ignore data folders
datasheets/
main-app/datasheets/

# Ignore Python compiler caches
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
.vscode/
